option_settings:
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/health
    Port: '3000'
    Protocol: HTTP
  aws:elasticbeanstalk:application:environment:
    OPENAI_API_KEY: "dummy-key-for-production" 